version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - GCP_PROJECT=${GCP_PROJECT}
    volumes:
      - ../secrets:/secrets
      - ./src:/app/src
      - ./pyproject.toml:/app/pyproject.toml
    env_file:
      - .env
